*{
    /*    margin: 0;
        padding: 0;
        outline: none;
    border: none;
        list-style-type: none;
        resize: none;*/
    font-family: 'Kalinga';/*'Century Gothic';*/
    text-decoration: none; /* Soulignement des liens, ... */
    font-size: 14px;
    color: #555555;
}
html,
body{
    min-width: 1152px;
    min-height: 648px;
    width: 100%;
    height: 100%;
    margin: 0;
}

div#noscript{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    width: 250px;
    height: 40px;
    margin-left: -135px;
    margin-top: -30px;
    text-align: center;
    color: #007aff;
    background-color: #FFF;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 100000;
}

header{ 
    width: 100%;
    height: 40px;
    background-color: #111;
}
header a span.buttonMenu{
    display: inline-block;
    width: 125px;
    height: 40px;
    margin: auto -2px;
    text-align: center;
    font-size: 16px;
    color: #999;
}
header a span.buttonMenu:hover,
header a span.buttonMenuActiv{
    background-color: #08C;
    color: #EEE;
}
header a span.buttonMenu img{
    width: 20px;
    height: 20px;
    margin: 10px 15px -4px 0px;
}
header a span.buttonMenu img#deposit{   background-image: url('../icones/deposit.png'); }
header a span.buttonMenu img#schedule{  background-image: url('../icones/schedule.png'); }
header a span.buttonMenu img#memo{      background-image: url('../icones/memo.png'); }

form#connection{
    width: 400px;
    margin: 10% auto;
    background: red;
}
input[type=submit]{
    cursor: pointer;
}