body{
    background-color: #F1ECEA;
}
div.file{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 100px;
    background: #FFF;
    margin: 10px;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}
div.file img.fileImage{
    float: left;
    height: 80%;
    margin: 10px;
}
div.file span.fileName{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}